{% if page.language %}

	{% assign site_info = site.site_info__object[page.language] %}
	{% assign current_language = page.language %}


{% else %}

	{% assign site_info = site.site_info__object.english %}
	{% assign current_language = "english" %}

{% endif %}



<header class="site-header" role="banner">

		<div class="voa__navbar white {% if page.layout != 'home' %}show-nav{% endif %}">
			<div class="voa__grid__full">
				<div class="voa__grid">
					<a href="{{ site_info.analytics.website }}" class="voa__navbar__link" title="Return to the VOA News home page"><div class="voa__navbar__logo"></div></a><a href="{{ site.url_base }}/{% if page.language and page.language != 'english' %}{{ page.language }}/{% endif %}" class="voa__navbar__title">{{ site_info.title_short }}</a>

					<div id="menuButton" class="voa__navbar__toggle"></div>

					<nav id="main-nav" role="navigation" class="main-menu-nav">
						<ul id="main-menu" class="sm sm-clean" data-smartmenus-id="14762810590939192">

							<li id="liveblogNavLink"><a href="{{ site.url_base }}/{{current_language}}/live-blog/">Live blog</a></li>


							<li><a href="{{ site.url_base }}/{{current_language}}/{% if current_language=='khmer' %}feature/{% endif %}" class="has-submenu" id="sm-14762810590939192-1" aria-haspopup="true" aria-controls="sm-14762810590939192-2" aria-expanded="false"><span class="sub-arrow">+</span>{{ site_info.dictionary.label_voices }}</a>
								<ul id="sm-14762810590939192-2" role="group" aria-hidden="true" aria-labelledby="sm-14762810590939192-1" aria-expanded="false">



									<li><a href="{{ site.url_base }}/{{current_language}}/feature/" class="has-submenu" id="sm-14762810590939192-1" aria-haspopup="true" aria-controls="sm-14762810590939192-2" aria-expanded="false"><span class="sub-arrow">+</span>{{ site_info.dictionary.label_features_short }}</a>
										<ul id="sm-14762810590939192-2" role="group" aria-hidden="true" aria-labelledby="sm-14762810590939192-1" aria-expanded="false">


		{% assign sorted-posts = site.posts | where: "categories","feature" %}
		{% assign sorted-posts-language = sorted-posts | where: "categories",current_language %}
		{% for post in sorted-posts-language%}
											<li><a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a></li>
		{% endfor %}

										</ul>
									</li>


									<li><a href="{{ site.url_base }}/{{current_language}}/profile/voter/" class="has-submenu" id="sm-14762810590939192-1" aria-haspopup="true" aria-controls="sm-14762810590939192-2" aria-expanded="false"><span class="sub-arrow">+</span>{{ site_info.dictionary.label_voters_voices }}</a>
										<ul id="sm-14762810590939192-2" role="group" aria-hidden="true" aria-labelledby="sm-14762810590939192-1" aria-expanded="false">


{% assign sorted-posts = site.posts | where: "categories","voter" %}
{% assign sorted-posts-language = sorted-posts | where: "categories",current_language %}
{% for post in sorted-posts-language%}
											<li><a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a></li>

{% endfor %}
										</ul>
									</li>

									<li><a href="{{ site.url_base }}/{{current_language}}/profile/politician/" class="has-submenu" id="sm-14762810590939192-1" aria-haspopup="true" aria-controls="sm-14762810590939192-2" aria-expanded="false"><span class="sub-arrow">+</span>{{ site_info.dictionary.label_politicians_voices }}</a>
										<ul id="sm-14762810590939192-2" role="group" aria-hidden="true" aria-labelledby="sm-14762810590939192-1" aria-expanded="false">

{% assign sorted-posts = site.posts | where: "categories","politician" %}
{% assign sorted-posts-language = sorted-posts | where: "categories",current_language %}
{% for post in sorted-posts-language%}
									<li><a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a></li>
{% endfor %}

								</ul>
							</li>

						</ul>
					</li>










							<li><a href="{{ site.url_base }}/{{current_language}}/video/" class="has-submenu" id="sm-14762810590939192-1" aria-haspopup="true" aria-controls="sm-14762810590939192-2" aria-expanded="false"><span class="sub-arrow">+</span>{{ site_info.dictionary.label_video }}</a>
								<ul id="sm-14762810590939192-2" role="group" aria-hidden="true" aria-labelledby="sm-14762810590939192-1" aria-expanded="false">

{% assign sorted-posts = site.posts | where: "categories","video" %}
{% assign sorted-posts-language = sorted-posts | where: "categories",current_language %}
{% for post in sorted-posts-language limit: 6 %}
									<li><a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a></li>
{% endfor %}
									<li><a href="{{ site.url_base }}/{{current_language}}/video/">{% if current_language == "english" %}More videos{% elsif current_language=="khmer" %}វីដេអូផ្សេងទៀត {% endif %}</a></li>

								</ul>
							</li>



							<li><a href="{{ site.url_base }}/{{current_language}}/biography/" class="has-submenu" id="sm-14762810590939192-1" aria-haspopup="true" aria-controls="sm-14762810590939192-2" aria-expanded="false"><span class="sub-arrow">+</span>{{ site_info.dictionary.label_history }}</a>
								<ul id="sm-14762810590939192-2" role="group" aria-hidden="true" aria-labelledby="sm-14762810590939192-1" aria-expanded="false">

{% assign sorted-posts = site.posts | where: "categories","biography" %}
{% assign sorted-posts-language = sorted-posts | where: "categories",current_language %}
{% for post in sorted-posts-language%}
									<li><a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a></li>
{% endfor %}


{% assign sorted-posts = site.posts | where: "categories","timeline" %}
{% assign sorted-posts-language = sorted-posts | where: "categories",current_language %}
{% for post in sorted-posts-language%}
									<li><a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a></li>
{% endfor %}

								</ul>
							</li>


							<li><a href="javascript:void(0);" class="has-submenu voa__navbar__language" id="" aria-haspopup="true" aria-controls="" aria-expanded="false"><div class="translation-icon"></div><span class="sub-arrow">+</span><span class="voa__no-tablet social-share-text ">{{ site_info.dictionary.label_translations }}</span></a>
								<ul role="group" aria-hidden="true" aria-labelledby="" aria-expanded="false">
									<li><a href="{{ site.url_base }}/">English</a></li>
									<li><a href="{{ site.url_base }}/khmer/">Khmer {% if site.site_info__object.khmer.analytics.language_label != "" %} |  {{site.site_info__object.khmer.analytics.language_label}} {% endif %}</a></li>
								</ul>
							</li>


							<li><a id="shareTwitter" title="{{ site_info.dictionary.label_twitter }}" class="social-share-link twitter" href="https://twitter.com/intent/tweet?text={{ site_info.title_short | url_encode }}{{ ': ' | url_encode }}{{ page.summary | default: site_info.description_short | url_encode }}&amp;url={{ site.url_base | url_encode }}{{ page.url | replace:'index.html','' | url_encode }}&amp;via={{ site_info.twitter_handle }}&amp;hashtags={{ site_info.hashtags | url_encode }}"><div class="social-icon"></div><span class="social-share-text">{{ site_info.dictionary.label_twitter }}</span></a></li>

							<li><a id="shareFacebook" title="{{ site_info.dictionary.label_facebook }}" class="social-share-link facebook" href="https://www.facebook.com/sharer/sharer.php?u={{ site.url_base | url_encode}}{{ page.url | replace:'index.html','' | url_encode}}"><div class="social-icon"></div><span class="social-share-text">{{ site_info.dictionary.label_facebook }}</span></a></li>
						</ul>
					</nav>
				</div>
			</div>
		</div>

</header>

