<div style="float: right; margin-right: 30px;">
	
<h3 style="margin-left: 20px; padding-left: 0; padding-top: 0;">The Squitieri Brothers</h3>

	<span class="voa__mugshot voa__mugshot--three"><img src="{{ site.url_base }}/img/resized/mugshot__squitieri.jpg" /><span class="voa__cutline">John Squitieri</span></span>

	<span class="voa__mugshot voa__mugshot--three"><img src="{{ site.url_base }}/img/resized/mugshot__squitieri.jpg" /><span class="voa__cutline">Xxxxx Squitieri</span></span>

	<span class="voa__mugshot voa__mugshot--three"><img src="{{ site.url_base }}/img/resized/mugshot__squitieri.jpg" /><span class="voa__cutline">Xxxxx Squitieri</span></span>

</div>