<div class="voa__photo__half-column__container">
	<div class="voa__photo__half-column">
			
		{% if include.file contains "https://gdb.voanews.com/" %}

			<picture>
				<source srcset="{{ include.file | replace: '_w1023', '_w740' }}" media="(min-width: 992px)">
				<source srcset="{{ include.file | replace: '_w1023', '_w640' }}" media="(min-width: 420px)">
				<img src="{{ include.file | replace: '_w1023', '_w420' }}" alt="{{ include.alt }}" style="display: block; width: 100%; max-width: none; box-shadow: 0px 0px 4px rgba(20,20,20,.3);" />
			</picture>


		{% else %}
			<img src="{{ site.url_base }}{{ include.file }}" alt="{{ include.alt }}" class="{{ include.custom_class }}" style="width: 100%;"/>
		{% endif %}

		{% if include.caption || include.credit %}
		<p class="voa__cutline" style="padding: 7px 0 0 0;">{{ include.caption }} {{ include.credit  | default: site.credit_default }}</p>
		{% endif %}

	</div>

</div>

