<div id="july_30_2018" class="voa__timeline__event  ">
	<div class="voa__timeline__event__marker"></div>
	<h3 class="voa__timeline__date">July 30, 2018</h3>
	<h3>International community calls Cambodia's vote a “setback to democracy”</h3>
	<p>The United States says it will take further action against the government of Cambodia following a landslide victory for the ruling party. The European Union, Canada and Australia also condemn the election. </p>
</div>

<div id="july_29_2018" class="voa__timeline__event  ">
	<div class="voa__timeline__event__marker"></div>
	<h3 class="voa__timeline__date">July 29, 2018</h3>
	<img src="https://projects.voanews.com/cambodia-election-2018/img/placeholder.jpg" data-image="https://gdb.voanews.com/A6B6070C-D794-441F-836C-F71777D7E0C3_w360_h240.jpg" style="margin-bottom: 15px;"/>
	<h3>Cambodia set to become one-party state</h3>
	<p>Prime Minister Hun Sen’s ruling party says it now controls all 125 seats in the National Assembly after an election slammed by rights groups as a sham due the lack of a viable opposition, </p>
</div>

<div id="july_29_2018" class="voa__timeline__event  ">
	<div class="voa__timeline__event__marker"></div>
	<h3 class="voa__timeline__date">July 29, 2018</h3>
	<img src="https://projects.voanews.com/cambodia-election-2018/img/placeholder.jpg" data-image="https://gdb.voanews.com/535D8F56-FCA9-4D5A-A33C-5450DF9E2371_w360_h240.jpg" style="margin-bottom: 15px;"/>
	<h3>Polls open in Cambodia's sixth national election </h3>
	<p>Cambodians head to the polls for an election from which the government has banned the only viable opposition party. </p>
</div>

<div id="july_28_2018" class="voa__timeline__event  ">
	<div class="voa__timeline__event__marker"></div>
	<h3 class="voa__timeline__date">July 28, 2018</h3>
	<img src="https://projects.voanews.com/cambodia-election-2018/img/placeholder.jpg" data-image="https://gdb.voanews.com/8275E6E4-0419-4A2A-A9EB-6067478CA2D8_w360_h240.jpg" style="margin-bottom: 15px;"/>
	<h3>Government blocks 15 independent news sites over poll “disruption”</h3>
	<p>The Cambodian government orders internet service providers (ISPs) to block the websites of 15 news websites of independent outlets including Voice of America for two days before and during the country’s election.</p>
</div>

<div id="july_27_2018" class="voa__timeline__event  ">
	<div class="voa__timeline__event__marker"></div>
	<h3 class="voa__timeline__date">July 27, 2018</h3>
	<img src="https://projects.voanews.com/cambodia-election-2018/img/placeholder.jpg" data-image="https://gdb.voanews.com/55D0F6DC-7466-4569-AC86-9412E804F904_w360_h240.jpg" style="margin-bottom: 15px;"/>
	<h3>Government fines former opposition officials over “clean finger” campaign</h3>
	<p>Five former CNRP officials in Battambang province are found guilty of obstructing the vote and fined $2,500 each over a Facebook post supporting an election boycott campaign.</p>
</div>

<div id="july_27_2018" class="voa__timeline__event  ">
	<div class="voa__timeline__event__marker"></div>
	<h3 class="voa__timeline__date">July 27, 2018</h3>
	<img src="https://projects.voanews.com/cambodia-election-2018/img/placeholder.jpg" data-image="
https://gdb.voanews.com/25D70DF8-AEE1-4B14-8E49-CF5D6FD51F5D_cx0_cy6_cw0_w360_h240.jpg" style="margin-bottom: 15px;"/>
	<h3>Election campaign ends as Cambodians prepare to vote</h3>
	<p>Cambodian political parties wind up their campaigning ahead of a general election expected to be an easy victory for the ruling party.</p>
</div>

<div id="july_25_2018" class="voa__timeline__event  ">
	<div class="voa__timeline__event__marker"></div>
	<h3 class="voa__timeline__date">July 25, 2018</h3>
	<img src="https://projects.voanews.com/cambodia-election-2018/img/placeholder.jpg" data-image="https://gdb.voanews.com/6AEFF675-59E2-4F1B-99A1-243F0E9EFD2B_cx0_cy5_cw0_w360_h240.jpg" style="margin-bottom: 15px;"/>
	<h3>U.S. House passes Cambodia sanctions bill</h3>
	<p>U.S. House of Representatives passes the Cambodia Democracy Act, paving the way for sanctions to be imposed against members of Prime Minister Hun Sen’s inner circle.</p>
</div>

<div id="july_25_2018" class="voa__timeline__event  ">
	<div class="voa__timeline__event__marker"></div>
	<h3 class="voa__timeline__date">July 25, 2018</h3>
	<img src="https://projects.voanews.com/cambodia-election-2018/img/placeholder.jpg" data-image="https://gdb.voanews.com/36615F60-9F61-473E-8E52-DB98E3E4F5ED_w360_h240.jpg" style="margin-bottom: 15px;"/>
	<h3>Japan opts out of sending election monitors to Cambodia</h3>
	<p>Japan says it won't send election monitors to Cambodia for the July 29 vote even though Tokyo, a major donor to the Southeast Asian nation, has sent observers to many previous elections.</p>
</div>

<div id="july_22_2018" class="voa__timeline__event  ">
	<div class="voa__timeline__event__marker"></div>
	<h3 class="voa__timeline__date">July 22, 2018</h3>
	<img src="https://projects.voanews.com/cambodia-election-2018/img/placeholder.jpg" data-image="https://gdb.voanews.com/55D0F6DC-7466-4569-AC86-9412E804F904_w360_h240.jpg" style="margin-bottom: 15px;"/>
	<h3>Cambodia threatens legal action against non-voters</h3>
	<p>The government orders fines or even the arrest of people who uploads images on social media as part of an opposition-organized campaign to boycott the vote.</p>
</div>

<div id="july_10_2018" class="voa__timeline__event  ">
	<div class="voa__timeline__event__marker"></div>
	<h3 class="voa__timeline__date">July 10, 2018</h3>
	<img src="https://projects.voanews.com/cambodia-election-2018/img/placeholder.jpg" data-image="https://gdb.voanews.com/1D0D48EB-7F2E-445D-B16B-342D9EF29E3C_w1023_r1_w360_240.jpg" style="margin-bottom: 15px;"/>
	<h3>Cambodian government institutions face cyberattack</h3>
	<p>Cyberattackers are caught hacking key Cambodian government institutions in what is strongly believed to be a coordinated Chinese government assault ahead of the July 29 national elections, according to an investigation by FireEye, a U.S. cybersecurity firm.

</p>
</div>

<div id="july_7_2018" class="voa__timeline__event  ">
	<div class="voa__timeline__event__marker"></div>
	<h3 class="voa__timeline__date">July 7, 2018</h3>
	<img src="https://projects.voanews.com/cambodia-election-2018/img/placeholder.jpg" data-image="https://gdb.voanews.com/64DC39DD-854E-45F1-A676-AE6F39738757_w360_240.jpg" style="margin-bottom: 15px;"/>
	<h3>Election campaign kicks off </h3>
	<p>Electioneering kicks off for the July 29 national elections. Twenty political parties are registered to participate. </p>
</div>

<div id="june_27_2018" class="voa__timeline__event  ">
	<div class="voa__timeline__event__marker"></div>
	<h3 class="voa__timeline__date">June 27, 2018</h3>
	<img src="https://projects.voanews.com/cambodia-election-2018/img/placeholder.jpg" data-image="https://gdb.voanews.com/8D50A749-078E-43AD-86FC-6CBE5656BEF7_w360_h240.jpg" style="margin-bottom: 15px;"/>
	<h3>50,000 observers to monitor July election, NEC says</h3>
	<p>Cambodia’s National Election Committee (NEC) says 50,000 observers -- some from China, Myanmar and Singapore -- will monitor July 29 election.</p>
</div>

<div id="june_20_2018" class="voa__timeline__event  ">
	<div class="voa__timeline__event__marker"></div>
	<h3 class="voa__timeline__date">June 20, 2018</h3>
	<h3>U.N. calls political climate in Cambodia “not conducive to a free and fair election”</h3>
	<p>At the U.N. Human Rights Council, New Zealand and other nations issue a statement calling on the Cambodian government to reverse course, saying the current political environment in Cambodia is not “conducive to holding free, fair and genuine national elections.”</p>
</div>

<div id="june_12_2018" class="voa__timeline__event  ">
	<div class="voa__timeline__event__marker"></div>
	<h3 class="voa__timeline__date">June 12, 2018</h3>
	<h3>U.S. sanctions Hun Sen’s top bodyguard</h3>
	<p>United States imposes sanctions on Hing Bun Heang, the head of  Hun Sen’s bodyguards, citing human rights abuses. </p>
</div>

<div id="may_28_2018" class="voa__timeline__event  ">
	<div class="voa__timeline__event__marker"></div>
	<h3 class="voa__timeline__date">May 28, 2018</h3>
	<h3>Government forms task forces to monitor online content ahead of July election</h3>
	<p>The government issues an order that it will work with telecommunication firms to monitor and control online news deemed to cause “instability,” as part of the government’s crackdown ahead of July 29 election. </p>
</div>

<div id="may_24_2018" class="voa__timeline__event  ">
	<div class="voa__timeline__event__marker"></div>
	<h3 class="voa__timeline__date">May 24, 2018</h3>
	<h3>NEC sets controversial Journalist Code of Conduct on election coverage</h3>
	<p>Cambodia's National Election Committee (NEC) issues a controversial code of conduct for journalists covering the July 29 election. It includes a ban on asking detailed questions about results.</p>
</div>

<div id="may_15_2018" class="voa__timeline__event  ">
	<div class="voa__timeline__event__marker"></div>
	<h3 class="voa__timeline__date">May 15, 2018</h3>
	<h3>20 political parties registered </h3>
	<p>Despite dissolution of CNRP, 20 political parties, including the ruling CPP, register to participate in July 29 election. </p>
</div>

<div id="may_15_2018" class="voa__timeline__event  ">
	<div class="voa__timeline__event__marker"></div>
	<h3 class="voa__timeline__date">May 15, 2018</h3>
	<h3>Election monitoring group backs out of observing July election</h3>
	<p>The respected Committee for Free and Fair Elections in Cambodia (Comfrel) says it will not observe and monitor the July election, citing the Cambodian government’s accusation against the group and other organizations in promoting a “color revolution” in Cambodia. </p>
</div>

<div id="may_9_2018" class="voa__timeline__event sokha ">
	<div class="voa__timeline__event__marker"></div>
	<h3 class="voa__timeline__date">May 9, 2018</h3>
	<h3>U.N. calls for release of Kem Sokha</h3>
	<p>The U.N. Working Group on Arbitrary Detention and the International Federation for Human Rights issues a statement demanding the immediate release of Kem Sokha, leader of the dissolved opposition CNRP party, calling his imprisonment “inhumane” and “shameful.”</p>
</div>

<div id="may_5_2018" class="voa__timeline__event  ">
	<div class="voa__timeline__event__marker"></div>
	<h3 class="voa__timeline__date">May 5, 2018</h3>
	<img src="https://projects.voanews.com/cambodia-election-2018/img/placeholder.jpg" data-image="https://gdb.voanews.com/88CAB1E8-8512-49FB-A327-E0253DF33283_w360_h240.jpg" style="margin-bottom: 15px;"/>
	<h3>Phnom Penh Post sold</h3>
	<p>The country’s last remaining independent English-language newspaper, the Phnom Penh Post, is sold to a Malaysian investor whose company has links to Hun Sen.</p>
</div>

<div id="may_4_2018" class="voa__timeline__event sen ">
	<div class="voa__timeline__event__marker"></div>
	<h3 class="voa__timeline__date">May 4, 2018</h3>
	<h3>PM Hun Sen threatens legal measure against election boycott</h3>
	<p>Prime Minister Hun Sen describes Sam Rainsy’s call for an election boycott as “a violation of electoral law.”</p>
</div>

<div id="april_8_2018" class="voa__timeline__event rainsy ">
	<div class="voa__timeline__event__marker"></div>
	<h3 class="voa__timeline__date">April 8, 2018</h3>
	<h3>Sam Rainsy calls for July election boycott</h3>
	<p>Former CNRP leader Sam Rainsy calls on his supporters and voters to boycott the July election.</p>
</div>

<div id="jan_2018" class="voa__timeline__event rainsy ">
	<div class="voa__timeline__event__marker"></div>
	<h3 class="voa__timeline__date">Jan 2018</h3>
	<img src="https://projects.voanews.com/cambodia-election-2018/img/placeholder.jpg" data-image="https://gdb.voanews.com/DF5BB070-EF6F-47BA-BDAC-2B522B97BD80_w360_h240.jpg" style="margin-bottom: 15px;"/>
	<h3>Sam Rainsy launches the CNRM</h3>
	<p>Former CNRP president Sam Rainsy launches the Cambodia National Rescue Movement (CNRM), which he envisions as keeping the CNRP “alive” from abroad. He says it “cannot be dissolved” because it is not registered with the government in Cambodia. Sam Rainsy said the movement's plan includes ensuring free and fair elections in Cambodia in July.</p>
</div>

<div id="nov_16_2017" class="voa__timeline__event  ">
	<div class="voa__timeline__event__marker"></div>
	<h3 class="voa__timeline__date">Nov 16, 2017</h3>
	<img src="https://projects.voanews.com/cambodia-election-2018/img/placeholder.jpg" data-image="https://gdb.voanews.com/E1D94E38-98BB-45A2-9D79-57961BB1A914_w360_h240.jpg" style="margin-bottom: 15px;"/>
	<h3>Supreme Court orders CNRP dissolution </h3>
	<p>The Supreme Court dissolves the CNRP, a move that causes some opposition members to join Hun Sen's ruling CPP, while opposition leaders flee the country or are forced out of politics.</p>
</div>

<div id="oct_3_2017" class="voa__timeline__event  ">
	<div class="voa__timeline__event__marker"></div>
	<h3 class="voa__timeline__date">Oct 3, 2017</h3>
	<img src="https://projects.voanews.com/cambodia-election-2018/img/placeholder.jpg" data-image="https://gdb.voanews.com/651BD01A-FD9F-46B3-ADEC-1A23853B7F00_w360_h240.jpg" style="margin-bottom: 15px;"/>
	<h3>Mu Sochua flees country</h3>
	<p>Opposition lawmaker Mu Sochua flees Cambodia after Prime Minister Hun Sen threatens to arrest opposition politicians in the wake of Kem Sokha's arrest in September.</p>
</div>

<div id="sept_2017" class="voa__timeline__event  ">
	<div class="voa__timeline__event__marker"></div>
	<h3 class="voa__timeline__date">Sept 2017</h3>
	<h3>RFA ceases operations in Cambodia </h3>
	<p>Radio Free Asia ceases operations in Cambodia after nearly 20 years, citing the government’s crackdown on media. Dozens of radio affiliates in Cambodia that sold airtime to RFA and VOA are shut down, with the government citing licensing issues. Other remaining licensed radio affiliates stop broadcasting RFA and VOA content.</p>
</div>

<div id="sept_4_2017" class="voa__timeline__event  ">
	<div class="voa__timeline__event__marker"></div>
	<h3 class="voa__timeline__date">Sept 4, 2017</h3>
	<img src="https://projects.voanews.com/cambodia-election-2018/img/placeholder.jpg" data-image="https://gdb.voanews.com/741583DA-68BA-4190-BA40-DC758E7845E6_w360_h240.jpg" style="margin-bottom: 15px;"/>
	<h3>Cambodia Daily newspaper shuts down</h3>
	<p>The independent Cambodia Daily newspaper announces it will cease operations in Cambodia after 24 years when it is slapped with a $6.3 million tax bill, which its publishers said was politically motivated and impossible to pay.</p>
</div>

<div id="sept_3_2017" class="voa__timeline__event sokha ">
	<div class="voa__timeline__event__marker"></div>
	<h3 class="voa__timeline__date">Sept 3, 2017</h3>
	<img src="https://projects.voanews.com/cambodia-election-2018/img/placeholder.jpg" data-image="https://gdb.voanews.com/DCD23F4E-B118-4F5C-8709-B015B30B3BE3_w360.png" style="margin-bottom: 15px;"/>
	<h3>Kem Sokha arrested</h3>
	<p>Opposition leader Kem Sokha is arrested at his Phnom Penh home for alleged treason. The government accuses him of conspiring with the U.S. to bring down the Cambodian government. Prime Minister Hun Sen warns the CNRP not to defend Kem Sokha at the risk of being dissolved.</p>
</div>

<div id="aug_23_2017" class="voa__timeline__event  ">
	<div class="voa__timeline__event__marker"></div>
	<h3 class="voa__timeline__date">Aug 23, 2017</h3>
	<h3>National Democratic Institute halts operations</h3>
	<p>The Cambodian government forces the U.S.-funded National Democratic Institute to halt its operations in Cambodia, saying the group is not legally registered.</p>
</div>

<div id="july_10_2017" class="voa__timeline__event  ">
	<div class="voa__timeline__event__marker"></div>
	<h3 class="voa__timeline__date">July 10, 2017</h3>
	<h3>National Assembly bars parties from affiliating with criminals</h3>
	<p>The National Assembly passes bill barring political parties from having any formal affiliation with convicted criminals.</p>
</div>

<div id="june_2017" class="voa__timeline__event  ">
	<div class="voa__timeline__event__marker"></div>
	<h3 class="voa__timeline__date">June 2017</h3>
	<h3>Fourth commune council elections</h3>
	<p>The CPP wins the majority of seats, but loses ground to the CNRP.</p>
</div>

<div id="march_2017" class="voa__timeline__event  ">
	<div class="voa__timeline__event__marker"></div>
	<h3 class="voa__timeline__date">March 2017</h3>
	<img src="https://projects.voanews.com/cambodia-election-2018/img/placeholder.jpg" data-image="https://gdb.voanews.com/E9878A0C-985C-41F7-9FA1-0377FED08860_w360_h240.jpg" style="margin-bottom: 15px;"/>
	<h3>Kem Sokha succeeds Sam Rainsy</h3>
	<p>Kem Sokha succeeds Sam Rainsy as the CNRP president.</p>
</div>

<div id="feb_11_2017" class="voa__timeline__event rainsy  ">
	<div class="voa__timeline__event__marker"></div>
	<h3 class="voa__timeline__date">Feb 11, 2017</h3>
	<img src="https://projects.voanews.com/cambodia-election-2018/img/placeholder.jpg" data-image="https://gdb.voanews.com/77E4A4DF-B2E6-4219-8642-4602089F49BB_w360_h240.jpg" style="margin-bottom: 15px;"/>
	<h3>Sam Rainsy resigns from CNRP</h3>
	<p>Sam Rainsy, the self-exiled leader of the CNRP, resigns in an attempt to save the party from dissolution after Prime Minister Hun Sen threatens to change the law to enable the government to dissolve parties with officials who have committed criminal offenses.</p>
</div>

<div id="dec_2_2016" class="voa__timeline__event  ">
	<div class="voa__timeline__event__marker"></div>
	<h3 class="voa__timeline__date">Dec 2, 2016</h3>
	<img src="https://projects.voanews.com/cambodia-election-2018/img/placeholder.jpg" data-image="https://gdb.voanews.com/1B9400B7-A9D2-46A1-B5A9-AD6E849FE3E4_w360_h240.jpg" style="margin-bottom: 15px;"/>
	<h3>King Sihamoni pardons Kem Sokha</h3>
	<p>King Norodom Sihamoni pardons Kem Sokha, as requested by Prime Minister Hun Sen.</p>
</div>

<div id="sept_9_2016" class="voa__timeline__event  ">
	<div class="voa__timeline__event__marker"></div>
	<h3 class="voa__timeline__date">Sept 9, 2016</h3>
	<h3>Kem Sokha sentenced to five months in prison</h3>
	<p>Phnom Penh Municipal Court sentences Kem Sokha to five months in prison over a case involving prostitution charges that are believed to be politically motivated. Kem Sokha does not appear in court.</p>
</div>

<div id="july_10_2016" class="voa__timeline__event  ">
	<div class="voa__timeline__event__marker"></div>
	<h3 class="voa__timeline__date">July 10, 2016</h3>
	<img src="https://projects.voanews.com/cambodia-election-2018/img/placeholder.jpg" data-image="https://gdb.voanews.com/1DA1D3B0-1296-471E-95E5-3E60FD18C74B_w360_h240.jpg" style="margin-bottom: 15px;"/>
	<h3>Government critic Kem Ley killed</h3>
	<p>Kem Ley, a well-known political activist and government critic, is shot dead in broad daylight at a petrol station in central Phnom Penh, in what police say is a personal dispute over money, a claim his wife denies.</p>
</div>

<div id="june_2016" class="voa__timeline__event  ">
	<div class="voa__timeline__event__marker"></div>
	<h3 class="voa__timeline__date">June 2016</h3>
	<h3>Kem Sokha in hiding</h3>
	<p>Kem Sokha goes into hiding at the CNRP headquarters to avoid arrest after being accused of procuring a prostitute.</p>
</div>

<div id="april_2016" class="voa__timeline__event  ">
	<div class="voa__timeline__event__marker"></div>
	<h3 class="voa__timeline__date">April 2016</h3>
	<img src="https://projects.voanews.com/cambodia-election-2018/img/placeholder.jpg" data-image="https://gdb.voanews.com/8645B794-110B-4CF2-9947-7AEAB6B9F10C_w360_h240.jpg" style="margin-bottom: 15px;"/>
	<h3>Five officials arrested for alleged involvement in the case against Kem Sokha</h3>
	<p>Four officials with the human rights group Adhoc, as well as the deputy secretary-general of the National Election Committee, are arrested for involvement with the alleged prostitution case against Kem Sokha.</p>
</div>

<div id="nov_16_2015" class="voa__timeline__event  ">
	<div class="voa__timeline__event__marker"></div>
	<h3 class="voa__timeline__date">Nov 16, 2015</h3>
	<img src="https://projects.voanews.com/cambodia-election-2018/img/placeholder.jpg" data-image="https://gdb.voanews.com/BFB3E447-6389-4183-AF05-12D0C9B24C19_w360_h240.jpg" style="margin-bottom: 15px;"/>
	<h3>Sam Rainsy stripped of position, immunity</h3>
	<p>The government strips Sam Rainsy of his lawmaker status and immunity while the opposition leader is traveling outside Cambodia. The move paves the way for arresting him in connection with a defamation case.</p>
</div>

<div id="oct_2015" class="voa__timeline__event  ">
	<div class="voa__timeline__event__marker"></div>
	<h3 class="voa__timeline__date">Oct 2015</h3>
	<img src="https://projects.voanews.com/cambodia-election-2018/img/placeholder.jpg" data-image="https://gdb.voanews.com/C04F700C-1959-4369-874D-2B46FC08A6E8_w360_h240.jpg" style="margin-bottom: 15px;"/>
	<h3>Mob beats two CNRP lawmakers</h3>
	<p>Pro-government mob beats two CNRP lawmakers in front of the National Assembly; the mob demands that National Assembly Vice President Kem Sokha step down.</p>
</div>

<div id="july_13_2015" class="voa__timeline__event  ">
	<div class="voa__timeline__event__marker"></div>
	<h3 class="voa__timeline__date">July 13, 2015</h3>
	<h3>National Assembly OKs crackdown on civil society groups</h3>
	<p>Cambodia's National Assembly approves a controversial law that critics say gives authorities sweeping power to crack down on civil society groups challenging the government.</p>
</div>

<div id="april_2015" class="voa__timeline__event  ">
	<div class="voa__timeline__event__marker"></div>
	<h3 class="voa__timeline__date">April 2015</h3>
	<img src="https://projects.voanews.com/cambodia-election-2018/img/placeholder.jpg" data-image="https://gdb.voanews.com/0846B440-869A-4D8C-937D-0366F4418DC2_w360_h240.jpg" style="margin-bottom: 15px;"/>
	<h3>Bipartisan election committee formed</h3>
	<p>An overhauled National Election Committee, created by bipartisan agreement, moves to spearhead electoral reform.</p>
</div>

<div id="july_22_2014" class="voa__timeline__event  ">
	<div class="voa__timeline__event__marker"></div>
	<h3 class="voa__timeline__date">July 22, 2014</h3>
	<h3>CNRP, Hun Sen strike deal</h3>
	<p>The CNRP strikes deal with Prime Minister Hun Sen, ending yearlong boycott of parliament.</p>
</div>

<div id="july_16_2014" class="voa__timeline__event  ">
	<div class="voa__timeline__event__marker"></div>
	<h3 class="voa__timeline__date">July 16, 2014</h3>
	<h3>Opposition leaders charged with 'insurrection'</h3>
	<p>The Cambodian government charges six opposition politicians with leading an “insurrection” after a clash with security forces that prevented opposition supporters from rallying in a public park.</p>
</div>

<div id="jan_2014" class="voa__timeline__event  ">
	<div class="voa__timeline__event__marker"></div>
	<h3 class="voa__timeline__date">Jan 2014</h3>
	<img src="https://projects.voanews.com/cambodia-election-2018/img/placeholder.jpg" data-image="https://gdb.voanews.com/60113331-F338-48ED-9F7C-98A55549B21A_w360_h240.jpg" style="margin-bottom: 15px;"/>
	<h3>Military police crack down on CNRP</h3>
	<p>Military police crack down on CNRP and garment worker protest, ending months of street demonstrations that leave at least four people dead.</p>
</div>

<div id="sept-dec_2013" class="voa__timeline__event  ">
	<div class="voa__timeline__event__marker"></div>
	<h3 class="voa__timeline__date">Sept-Dec 2013</h3>
	<img src="https://projects.voanews.com/cambodia-election-2018/img/placeholder.jpg" data-image="https://gdb.voanews.com/68FA1AE2-8C4C-4F0F-BEB8-635A07E6C568_w360_h240.jpg" style="margin-bottom: 15px;"/>
	<h3>CNRP supporters protest election results</h3>
	<p>The CNRP and its supporters hold mass protests in Phnom Penh over the contested election results, calling for Hun Sen’s resignation and an election restaging.</p>
</div>

<div id="july_28_2013" class="voa__timeline__event  ">
	<div class="voa__timeline__event__marker"></div>
	<h3 class="voa__timeline__date">July 28, 2013</h3>
	<h3>Fifth national elections</h3>
	<p>Cambodia holds its fifth national elections, and the opposition CNRP wins 55 of 123 seats in the National Assembly. The CPP wins the remaining 68 seats. The CNRP rejects the results and launches a high-profile boycott of parliament.</p>
</div>

<div id="july_2013" class="voa__timeline__event  ">
	<div class="voa__timeline__event__marker"></div>
	<h3 class="voa__timeline__date">July 2013</h3>
	<img src="https://projects.voanews.com/cambodia-election-2018/img/placeholder.jpg" data-image="https://gdb.voanews.com/00C284E2-D634-4726-A685-FC935650F41C_w360_h240.jpg" style="margin-bottom: 15px;"/>
	<h3>Sam Rainsy returns ahead of elections</h3>
	<p>After King Norodom Sihamoni pardons Sam Rainsy at Hun Sen’s request, the opposition leader returns to Cambodia days before the national elections.</p>
</div>

<div id="oct_15_2012" class="voa__timeline__event sihanouk  ">
	<div class="voa__timeline__event__marker"></div>
	<h3 class="voa__timeline__date">Oct 15, 2012</h3>
	<img src="https://projects.voanews.com/cambodia-election-2018/img/placeholder.jpg" data-image="https://gdb.voanews.com/9E681D95-28F7-4E19-A5E6-E0E3B19239F2_w360_h240.jpg" style="margin-bottom: 15px;"/>
	<h3>King Sihanouk dies</h3>
	<p>King Norodom Sihanouk dies of a heart attack. He was 89 years old, and had spent most of his time after abdicating in 2004 outside Cambodia, favoring Beijing and Pyongyang.</p>
</div>

<div id="july_17_2012" class="voa__timeline__event  ">
	<div class="voa__timeline__event__marker"></div>
	<h3 class="voa__timeline__date">July 17, 2012</h3>
	<img src="https://projects.voanews.com/cambodia-election-2018/img/placeholder.jpg" data-image="https://gdb.voanews.com/E62E4E54-49E2-4F29-BDE0-840C917CC9C3_w360_h240.jpg" style="margin-bottom: 15px;"/>
	<h3>CNRP was established in Manila</h3>
	<p>Top officials from the SRP and HRP meet in Manila to finalize their merger into a new party: the Cambodia National Rescue Party (CNRP).</p>
</div>

<div id="june_2012" class="voa__timeline__event  space-small">
	<div class="voa__timeline__event__marker"></div>
	<h3 class="voa__timeline__date">June 2012</h3>
	<h3>Third commune elections</h3>
	<p>Cambodia holds third commune elections and the CPP wins 61.8 percent of communes.</p>
</div>

<div id="sept_2010" class="voa__timeline__event  space-small">
	<div class="voa__timeline__event__marker"></div>
	<h3 class="voa__timeline__date">Sept 2010</h3>
	<img src="https://projects.voanews.com/cambodia-election-2018/img/placeholder.jpg" data-image="https://gdb.voanews.com/92BB1280-116C-4BAB-9122-7DF82337FAC9_w360_h240.jpg" style="margin-bottom: 15px;"/>
	<h3>Sam Rainsy flees Cambodia</h3>
	<p>Sam Rainsy flees the country again, facing charges of disinformation and falsifying maps after criticizing the government’s handling of the Vietnamese border demarcation.</p>
</div>

<div id="july_2008" class="voa__timeline__event  ">
	<div class="voa__timeline__event__marker"></div>
	<h3 class="voa__timeline__date">July 2008</h3>
	<h3>CPP wins majority in national elections</h3>
	<p>Hun Sen's CPP wins a majority of votes in the national elections.</p>
</div>

<div id="july_2007" class="voa__timeline__event  ">
	<div class="voa__timeline__event__marker"></div>
	<h3 class="voa__timeline__date">July 2007</h3>
	<h3>Kem Sokha establishes HRP</h3>
	<p>Kem Sokha, who founded the human rights organization Cambodian Center for Human Rights in 2002, establishes the Human Rights Party (HRP).</p>
</div>

<div id="april_2007" class="voa__timeline__event  ">
	<div class="voa__timeline__event__marker"></div>
	<h3 class="voa__timeline__date">April 2007</h3>
	<h3>Second commune elections</h3>
	<p>Cambodia holds its second commune elections. The CPP wins 98.2 percent of communes, while the SRP wins 1.7 percent.</p>
</div>

<div id="oct_2006" class="voa__timeline__event  ">
	<div class="voa__timeline__event__marker"></div>
	<h3 class="voa__timeline__date">Oct 2006</h3>
	<img src="https://projects.voanews.com/cambodia-election-2018/img/placeholder.jpg" data-image="https://gdb.voanews.com/D5F529A7-DA32-43A7-8ADD-504D6170A74C_w360_h240.jpg" style="margin-bottom: 15px;"/>
	<h3>FUNCINPEC ousts Ranariddh</h3>
	<p>The royalist FUNCINPEC party ousts Prince Ranariddh as president following an accusation by Hun Sen that the prince was appointing unqualified individuals to political positions.Ranariddh was sentenced by the lower court to 18 months in prison and fined $150,000 for alleging breach of trust for buying land with $3.6 million taken from the sale of FUNCINPEC headquarters.</p>
</div>

<div id="march_2006" class="voa__timeline__event  ">
	<div class="voa__timeline__event__marker"></div>
	<h3 class="voa__timeline__date">March 2006</h3>
	<h3>Ranariddh resigns, flees to France</h3>
	<p>Prince Ranariddh resigns as president of the National Assembly after Hun Sen fires then-Co-Minister of the Interior Norodom Sirivudh and Co-Minister of Defense Nhiek Bun Chay. Ranariddh flees to France.</p>
</div>

<div id="feb_2006" class="voa__timeline__event rainsy ">
	<div class="voa__timeline__event__marker"></div>
	<h3 class="voa__timeline__date">Feb 2006</h3>
	<img src="https://projects.voanews.com/cambodia-election-2018/img/placeholder.jpg" data-image="https://gdb.voanews.com/692A2F67-5B63-490E-81B5-65FE99A7505F_w360_h240.jpg" style="margin-bottom: 15px;"/>
	<h3>Sam Rainsy receives royal pardon</h3>
	<p>Rainsy returns to Cambodia after months of exile to avoid imprisonment on a defamation conviction over his criticism of the government’s border policy with Vietnam. He joins with the CPP to change the electoral law to require a simple majority rather than a two-thirds majority, leaving the royalist FUNCIPEC party less important in the coalition government.</p>
</div>

<div id="oct_2005" class="voa__timeline__event sen ">
	<div class="voa__timeline__event__marker"></div>
	<h3 class="voa__timeline__date">Oct 2005</h3>
	<h3>Under pressure, king signs border treaty</h3>
	<p>Hun Sen threatens to abolish Cambodia’s monarchy as King Sihamoni delays in signing a controversial border treaty with Vietnam, Cambodia's historic enemy. The king agrees to sign the treaty.</p>
</div>

<div id="oct_2004" class="voa__timeline__event  ">
	<div class="voa__timeline__event__marker"></div>
	<h3 class="voa__timeline__date">Oct 2004</h3>
	<img src="https://projects.voanews.com/cambodia-election-2018/img/placeholder.jpg" data-image="https://gdb.voanews.com/FFB3C6AA-0335-4047-83A9-7C7CAEC71796_w360_h240.jpg" style="margin-bottom: 15px;"/>
	<h3>Norodom Sihamoni becomes king</h3>
	<p>Norodom Sihamoni succeeds his father King Norodom Sihanouk after a surprise abdication. Prime Minister Hun Sen and National Assembly Speaker Prince Norodom Ranariddh endorse Sihamoni.</p>
</div>

<div id="july_27_2003" class="voa__timeline__event  ">
	<div class="voa__timeline__event__marker"></div>
	<h3 class="voa__timeline__date">July 27, 2003</h3>
	<h3>CPP wins national elections</h3>
	<p>Hun Sen re-elected as prime minister.</p>
</div>

<div id="feb_3_2002" class="voa__timeline__event  space-medium">
	<div class="voa__timeline__event__marker"></div>
	<h3 class="voa__timeline__date">Feb 3, 2002</h3>
	<h3>First commune elections held</h3>
	<p>Cambodia holds its first-ever commune elections. The CPP wins a majority of seats on local administrative bodies known as commune councils, and thus appoints the majority of commune chiefs.</p>
</div>

<div id="nov_1998" class="voa__timeline__event  ">
	<div class="voa__timeline__event__marker"></div>
	<h3 class="voa__timeline__date">Nov 1998</h3>
	<h3>Hun Sen and Ranariddh agree to form a coalition government</h3>
	<p>Hun Sen and Ranariddh agree to form a coalition government, allowing Hun Sen to remain as the prime minister and Prince Ranariddh to become the president of the National Assembly. FUNCINPEC’s agreement with CPP left the SRP as the country’s main opposition party.</p>
</div>

<div id="july_26_1998" class="voa__timeline__event sen ">
	<div class="voa__timeline__event__marker"></div>
	<h3 class="voa__timeline__date">July 26, 1998</h3>
	<h3>CPP wins national elections</h3>
	<p>Hun Sen's CPP wins a majority of seats in national elections, followed by FUNCINPEC and the SRP.</p>
</div>

<div id="march_1998" class="voa__timeline__event ranariddh ">
	<div class="voa__timeline__event__marker"></div>
	<h3 class="voa__timeline__date">March 1998</h3>
	<img src="https://projects.voanews.com/cambodia-election-2018/img/placeholder.jpg" data-image="https://gdb.voanews.com/045CCBDC-F5C8-4AC2-97B8-7B82C982D411_w360_h240.jpg" style="margin-bottom: 15px;"/>
	<h3>Prince Ranariddh returns</h3>
	<p>Prince Ranariddh returns to Cambodia to run in the national elections.</p>
</div>

<div id="july_1997" class="voa__timeline__event  space-small">
	<div class="voa__timeline__event__marker"></div>
	<h3 class="voa__timeline__date">July 1997</h3>
	<h3>Troops clash in Phnom Penh; Prince Ranariddh exiled</h3>
	<p>Troops aligned with the CPP and the FUNCINPEC clash in Phnom Penh after public arguments between Hun Sen and Prince Ranariddh become increasingly heated. The prince goes into exile and is ousted from his position a month later.</p>
</div>

<div id="1995" class="voa__timeline__event rainsy  space-small">
	<div class="voa__timeline__event__marker"></div>
	<h3 class="voa__timeline__date">1995</h3>
	<img src="https://projects.voanews.com/cambodia-election-2018/img/placeholder.jpg" data-image="https://gdb.voanews.com/81930B39-1EA1-4FC7-8D32-47E6CC98CB0F_w360_h240.jpg" style="margin-bottom: 15px;"/>
	<h3>Sam Rainsy founds KNP</h3>
	<p>Sam Rainsy founded the the opposition Khmer Nation Party (KNP).</p>
</div>

<div id="june_1993" class="voa__timeline__event sihanouk ">
	<div class="voa__timeline__event__marker"></div>
	<h3 class="voa__timeline__date">June 1993</h3>
	<h3>FUNCINPEC and CPP form coalition government</h3>
	<p>With King Norodom Sihanouk's intervention, FUNCINPEC and the CPP agree to form a coalition government, with Norodom Ranariddh as first prime minister and Hun Sen as second prime minister.</p>
</div>

<div id="may_23-28_1993" class="voa__timeline__event  space-small">
	<div class="voa__timeline__event__marker"></div>
	<h3 class="voa__timeline__date">May 23-28, 1993</h3>
	<h3>First post-war elections held</h3>
	<p>Cambodia holds first post-Khmer Rouge-era presidential elections under the auspices of the U.N. Hun Sen’s Cambodia People's Party, a linear descendant of the Kampuchean People’s Revolutionary Party, which gave birth to the Khmer Rouge, loses to Norodom Ranariddh’s royalist FUNCINPEC.</p>
</div>

<div id="oct_23_1991" class="voa__timeline__event  space-small">
	<div class="voa__timeline__event__marker"></div>
	<h3 class="voa__timeline__date">Oct 23, 1991</h3>
	<img src="https://projects.voanews.com/cambodia-election-2018/img/placeholder.jpg" data-image="https://gdb.voanews.com/D68C76A4-B0B2-4F69-8669-DF9445F09B3D_w360_h240.jpg" style="margin-bottom: 15px;"/>
	<h3>Paris Accords Accords signed</h3>
	<p>Nineteen nations sign the Paris Peace Accords, formally ending Cambodia's civil war.</p>
</div>

<div id="sept_26_1989" class="voa__timeline__event  space-medium">
	<div class="voa__timeline__event__marker"></div>
	<h3 class="voa__timeline__date">Sept 26, 1989</h3>
	<h3>Vietnam leaves Cambodia</h3>
	<p>Vietnamese troops leave Cambodia after a decade of occupation.</p>
</div>

<div id="jan_14_1985" class="voa__timeline__event sen space-medium">
	<div class="voa__timeline__event__marker"></div>
	<h3 class="voa__timeline__date">Jan 14, 1985</h3>
	<h3>Hun Sen becomes prime minister</h3>
	<p>National Assembly appoints Hun Sen prime minister.</p>
</div>

<div id="jan_7_1979" class="voa__timeline__event  space-medium">
	<div class="voa__timeline__event__marker"></div>
	<h3 class="voa__timeline__date">Jan 7, 1979</h3>
	<h3>Khmer Rouge regime ends</h3>
	<p>A group of former Khmer Rouge soldiers, including Cambodia's future prime minister, Hun Sen, end the Khmer Rouge regime. Backed by the Vietnamese military, the group liberates Cambodia and Vietnam sponsors formation of a new Cambodian government.</p>
</div>

<div id="april_17_1975" class="voa__timeline__event  space-medium">
	<div class="voa__timeline__event__marker"></div>
	<h3 class="voa__timeline__date">April 17, 1975</h3>
	<img src="https://projects.voanews.com/cambodia-election-2018/img/placeholder.jpg" data-image="https://gdb.voanews.com/4044C2A6-98D5-4381-B7AC-0F6B6FBECC9D_w360_h240.jpg" style="margin-bottom: 15px;"/>
	<h3>Khmer Rouge takeover Cambodia</h3>
	<p>The China-backed Khmer Rouge occupy Phnom Penh. Over the next three years, eight months and 20 days, the regime will cause the deaths of at least 1.7 million people.</p>
</div>

<div id="march_1970" class="voa__timeline__event sihanouk  space-large">
	<div class="voa__timeline__event__marker"></div>
	<h3 class="voa__timeline__date">March 1970</h3>
	<h3>Coup topples Sihanouk</h3>
	<p>U.S.-backed Gen.Lon Nol leads coup that topples Sihanouk.</p>
</div>

<div id="april_1960" class="voa__timeline__event sihanouk  space-medium">
	<div class="voa__timeline__event__marker"></div>
	<h3 class="voa__timeline__date">April 1960</h3>
	<img src="https://projects.voanews.com/cambodia-election-2018/img/placeholder.jpg" data-image="https://gdb.voanews.com/28C70895-BDDC-461C-AADA-0C7FB7442834_w360_h240.jpg" style="margin-bottom: 15px;"/>
	<h3>King Suramarit dies</h3>
	<p>Sihanouk accepts role as head of state.</p>
</div>

<div id="sept_1955" class="voa__timeline__event sihanouk  space-small">
	<div class="voa__timeline__event__marker"></div>
	<h3 class="voa__timeline__date">Sept 1955</h3>
	<h3>Sihanouk becomes prime minister</h3>
	<p>King Sihanouk becomes prime minister after abdicating in favor of his father, Norodom Suramarit.</p>
</div>

<div id="nov_9_1953" class="voa__timeline__event sihanouk  ">
	<div class="voa__timeline__event__marker"></div>
	<h3 class="voa__timeline__date">Nov 9, 1953</h3>
	<h3>Cambodia gains independence</h3>
	<p>King Norodom Sihanouk declares Cambodia’s independence from France.</p>
</div>

