---
layout: default
---
{% if page.language %}

	{% assign site_info = site.site_info__object[page.language] %}
	{% assign current_language = page.language %}

{% else %}

	{% assign site_info = site.site_info__object.english %}
	{% assign current_language = "english" %}

{% endif %}


<div class="voa__grid__full voa__category__dirty-dozen" style="">
	<div style="position: relative;">

		<picture>
			<source srcset="{{ 'https://gdb.voanews.com/C443259B-63C1-4F9C-A900-A4E40269E1DC_w1023_s.jpg' | replace: '_w1023', '_w1280_h720' }}" media="(min-width: 992px)">
			<source srcset="{{ 'https://gdb.voanews.com/C443259B-63C1-4F9C-A900-A4E40269E1DC_w1023_s.jpg' | replace: '_w1023', '_w992' }}" media="(min-width: 640px)">
			<source srcset="{{ 'https://gdb.voanews.com/C443259B-63C1-4F9C-A900-A4E40269E1DC_w1023_s.jpg' | replace: '_w1023', '_w640_h760' }}" media="(min-width: 420px)">
			<img src="{{ 'https://gdb.voanews.com/C443259B-63C1-4F9C-A900-A4E40269E1DC_w1023_s.jpg' | replace: '_w1023', '_w420_h780' }}" />
		</picture>

		<div style="position: absolute; bottom: 20px; width: 100%; text-align: center; color: #FFF; z-index: 99999;">
			<h1 class="balanced-text" style="">Hun Sen’s Dirty Dozen?</h1>
			<h3 style="color: #999; padding: 0 10%; font-weight: normal;"> A Human Rights Watch report says 12 security officers formed the backbone of Hun Sen’s “abusive and authoritarian political regime.” According to the 213-page HRW report, titled “Cambodia’s Dirty Dozen: A Long History of Rights Abuses by Hun Sen’s Generals”, the 12 security officers “demonstrated a willingness to commit rights abuses on behalf of Hun Sen.”</h3>
		</div>

		<div class="voa__title-card__shadow"></div>
	</div>

	<div class="category voa__content" style="position: relative; z-index: 9999; padding-top: 20px; padding-bottom: 40px;">


		{% include dirty-dozen-lineup.html %}

	</div>

</div>


<script type="text/javascript">
	var mode = "production";//"editing"; //"production";
</script>

{% include footer.html %}
