---
layout: default
---
{% if page.language %}

	{% assign site_info = site.site_info__object[page.language] %}
	{% assign current_language = page.language %}

{% else %}

	{% assign site_info = site.site_info__object.english %}
	{% assign current_language = "english" %}

{% endif %}

<script type="text/javascript">
	
	// Checking if touch is enabled
	function is_touch_device() {
		var prefixes = ' -webkit- -moz- -o- -ms- '.split(' ');
			var mq = function(query) {
			return window.matchMedia(query).matches;
		}

		if (('ontouchstart' in window) || window.DocumentTouch && document instanceof DocumentTouch) {
			return true;
		}

		// include the 'heartz' as a way to have a non matching MQ to help terminate the join
		// https://git.io/vznFH
		var query = ['(', prefixes.join('touch-enabled),('), 'heartz', ')'].join('');
		return mq(query);
	}

	$(window).on('load', function() {

		if (is_touch_device()){
			$("#mydiv").addClass("touch-enabled")
		}
		setTimeout(function(){ 
			logger("timer");
			$("#mydiv").addClass("loaded");
		}, 4000);
	});
</script>


<article class="post">
	<div class="voa__grid__full voa__border-sides" style="padding-top: 40px; ">

<div class="voa__grid" style="padding: 0 3% 0 0;">
	<div class="voa__grid__one-third voa__live-blog__sidebar" style="float: right;margin-right: 0;">

	{% for post in site.categories[current_language] limit: 5 %}
		{% if post.categories.last != "profile" and post.categories.last != "voter" and post.categories.last != "politician" and post.categories.last != "voter" and post.categories.last != "video" %}
		<div class="voa__grid__full" style="margin: 0 auto 10px auto;">
			<div class="voa__featured-post">
				
				<a class="post-link" href="{{ site.url_base }}{{ post.url | relative }}" style=" text-decoration: none;">
			{% if post.image %}
				{% if post.image contains "https://gdb.voanews.com/" %}
					<img src="{{ post.image | replace: '_w1023', '_w1280_h720' }}" style="max-width: none; width: 100%;" />
				{% else %}
					<img src="{{ site.url_base }}{{ post.image }}" style="max-width: none; width: 100%;" />
				{% endif %}


			{% else %}
					<img src="https://placehold.it/1280x720">
			{% endif %}

					<h2 class="voa__featured-post__title">
					  {{ post.title }}
					</h2>
				</a>
				<p>{{ post.summary | strip_html }}</p>
			</div>
		</div>
		{% endif %}
	{% endfor %}




	<div class="voa__grid__full" style="margin-top: 40px; margin-bottom: 10px;">
		<h3 class="voa__kicker"><a href="{{ site.url_base }}/{{current_language}}/profile/" style="color: #FFF;">{{ site_info.dictionary.label_voices }}</a></h3>
	</div>

	{% assign featuredLink = 'false' %}
{% assign sorted-posts = site.posts | where: "categories","profile" %}
{% assign sorted-posts-language = sorted-posts | where: "categories",current_language %}
{% for post in sorted-posts-language limit: 4 %}


	{% if post.categories.last != "biography" and post.categories.last != "credits" and post.categories.last != "video" %}

		{% if featuredLink == 'false' %}

		<div class="voa__grid__full" style="margin: 0 auto 10px auto;">
			<div class="voa__featured-post">
				
				<a class="post-link" href="{{ site.url_base }}{{ post.url | relative }}" style=" text-decoration: none;">
			{% if post.image %}
				{% if post.image contains "https://gdb.voanews.com/" %}
					<img src="{{ post.image | replace: '_w1023', '_w1280_h720' }}" style="max-width: none; width: 100%;" />
				{% else %}
					<img src="{{ site.url_base }}{{ post.image }}" style="max-width: none; width: 100%;" />
				{% endif %}


			{% else %}
					<img src="https://placehold.it/1280x720">
			{% endif %}

					<h2 class="voa__featured-post__title">
					  {{ post.title }}
					</h2>
				</a>
				<p>{{ post.summary | strip_html }}</p>
			</div>
		</div>
	<div class="voa__grid__full" style="margin: 0 auto 10px auto;">
	<ul style="padding-left: 3%;">
<!--
		{% assign featuredLink = 'true' %}

	{% elsif featuredLink == 'true' %}

		{% if post.categories.last != "biography" and post.categories.last != "party" and post.categories.last != "quote" %}

		 -->
				
					<li><a class="post-link" href="{{ site.url_base }}{{ post.url | relative_url }}">{{ post.title | escape }}</a></li>
			<!--
			{% endif %}

		{% endif %}

	{% endif %}

	{% endfor %}
		  -->
		  </ul>
	</div>
</div>

<div id="liveBlogContainer" class="voa__foreign-policy-container">

				<div class="voa__grid__full">

					<div class="voa__grid">
				
						<div id="mydiv" class="voa__loaded-story show loaded">
							<iframe src="https://khmer.voanews.com/a/cambodia-2018-elections-live-blog/4499429.html" width="100%" height="100%" frameborder="0" style=""></iframe>
						</div>

					</div> <!--voa grid -->

				</div><!-- voa grid full -->

			</div>

	</div>
</article>

<script type="text/javascript">
	var mode = "production";//"editing"; //"production";
</script>
