---
layout: default
---
{% if page.language %}

	{% assign site_info = site.site_info__object[page.language] %}
	{% assign current_language = page.language %}

{% else %}

	{% assign site_info = site.site_info__object.english %}
	{% assign current_language = "english" %}

{% endif %}

<script type="text/javascript">
	
	// Checking if touch is enabled
	function is_touch_device() {
		var prefixes = ' -webkit- -moz- -o- -ms- '.split(' ');
			var mq = function(query) {
			return window.matchMedia(query).matches;
		}

		if (('ontouchstart' in window) || window.DocumentTouch && document instanceof DocumentTouch) {
			return true;
		}

		// include the 'heartz' as a way to have a non matching MQ to help terminate the join
		// https://git.io/vznFH
		var query = ['(', prefixes.join('touch-enabled),('), 'heartz', ')'].join('');
		return mq(query);
	}

	$(window).on('load', function() {

		if (is_touch_device()){
			$("#mydiv").addClass("touch-enabled")
		}
		setTimeout(function(){ 
			logger("timer");
			$("#mydiv").addClass("loaded");
		}, 4000);
	});
</script>


<article class="post">
	<div class="voa__grid__full voa__border-sides" style="padding-top: 40px; ">

	<div class="voa__grid">
<a class="twitter-timeline" href="https://twitter.com/voakhmer?ref_src=twsrc%5Etfw">Tweets by voakhmer</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

	</div>


	</div>
</article>

<script type="text/javascript">
	var mode = "production";//"editing"; //"production";
</script>
